# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ufcfcuwlswsimxfuflmy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here

# Mapbox
NEXT_PUBLIC_MAPBOX_TOKEN=pk.eyJ1IjoidmFsZW50bnNtYWNrIiwiYSI6ImNtazJuOGdhZjBnamIzZnNiOHE0YnZpdXoifQ.VFGOaKg731mvNa3RLNRxKg
